<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
</head>
<body>

<h2>[Zamsee] 비밀번호 초기화 이메일</h2>

<p>새로 발급된 임시 비밀번호는 다음과 같습니다.</p>

<h3>Password: {{ new_password }}</h3>

<p>홈페이지로 이동하셔서 다시 로그인해주세요. <span><a href="https://zamsee.com/auth/signin">이동하기</a></span></p>

</body>
</html>
