{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="title" content="웹진 잠시 | 잠시, 도시를 지켜보는 사람들의 이야기">
    <meta name="description" content="도시의 잊힌 흔적을 찾아 그 속의 상처를 보듬어 사람을 도시와 잇는 도시 웹진 ‘잠시’ 입니다.">
    <meta property="og:title" content="웹진 잠시 | 잠시, 도시를 지켜보는 사람들의 이야기">
    <meta property="og:url" content="http://zamsee.com/">
    <meta property="og:description" content="도시의 잊힌 흔적을 찾아 그 속의 상처를 보듬어 사람을 도시와 잇는 도시 웹진 ‘잠시’ 입니다.">
    <meta property="og:image" content="{% static 'assets/favicon/logo_text.png' %}">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{% static 'assets/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/favicon/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{% static 'assets/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{% static 'assets/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'assets/favicon/safari-pinned-tab.svg' %}"
          color="#042353">
    <meta name="msapplication-TileColor" content="#042353">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <title>웹진 잠시 | 잠시, 도시를 지켜보는 사람들의 이야기</title>
</head>
<body>

<section class="container-fluid">
    <div id="carousel-main" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100"
                     src="{% static 'images/cities/18_03_01_modified_01.jpg' %}"
                     alt="첫번째 슬라이드">
                <div class="carousel-caption d-md-block">
                    <h1 class="text-white text-left"><strong>잠시,</strong></h1>
                    <h3 class="text-white text-left">  골목의 낙서와 눈을</h3>
                    <h3 class="text-white text-left">  마주치다</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                     src="{% static 'images/cities/18%3A03%3A01_modified_08.jpg' %}"
                     alt="두번째 슬라이드">
                <div class="carousel-caption d-md-block">
                    <h1 class="text-white text-left"><strong>잠시,</strong></h1>
                    <h3 class="text-white text-left">  쓰레기 앞에서 걸음을</h3>
                    <h3 class="text-white text-left">  멈추다</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                     src="{% static 'images/cities/18%3A03%3A01_modified_13.jpg' %}"
                     alt="세번째 슬라이드">
                <div class="carousel-caption d-md-block">
                    <h1 class="text-white text-left"><strong>잠시,</strong></h1>
                    <h3 class="text-white text-left">  도시를 향한 사유를</h3>
                    <h3 class="text-white text-left">  시작하다</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead text-center text-white">Open | 2018.05</p>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>