.container-fluid {
    padding: 0;
}

.nav {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #0081D5, #A133D5) !important;
}

#main-logo {
    width: 160px;
}

.jumbotron {
    background-color: black;
    display: flex;
    align-items: center;
}

@media (max-width: 1680px) {
    #d-day {
        font-size: 1.5rem;
    }

    .jumbotron {
        height: 300px;
    }
}

@media (max-width: 414px) {
    #d-day {
        font-size: 1rem;
    }
    .jumbotron {
        height: 200px;
    }
}